/* CSS added here will apply to every single page */

.navbar-header {
	padding-left: 10px;  /* For the hamburger button in mobile */
}

body {
	padding-top: 65px;
}

.text-white {
	color: white !important;
}

.text-stroke {
	/* Some weird hack to add text stroke w/o proprietary tags. I have no idea how this works, just took it from https://css-tricks.com/adding-stroke-to-web-text/ */
	 text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   	-1px 1px 0 #000,
    1px 1px 0 #000; 
}

.make-longer-pls {
	padding-bottom: 9em;
}