
/* CSS added here will apply to every single page */

.navbar-header {
	padding-left: 10px;  /* For the hamburger button in mobile */
}

a.navbar-brand img {
	max-width: 100px;
	margin-top: -7px; /* Helps with vertical centering */
}

body {
	padding-top: 100px;
}

.text-white {
	color: white !important;
}

.text-stroke {
	/* Some weird hack to add text stroke w/o proprietary tags. I have no idea how this works, just took it from https://css-tricks.com/adding-stroke-to-web-text/ */
	 text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   	-1px 1px 0 #000,
    1px 1px 0 #000; 
}

.make-slightly-longer-pls {
	padding-bottom: 3em;
}

.make-longer-pls {
	padding-bottom: 9em;
}

.sponsor {
	padding-bottom: 20px;
}