extends _templates/base.jade

block head
	title FRC Team 1991
	link(rel = "stylesheet", href = "assets/css/index.css")

block body
	.jumbotron
		.container
			span.text-stroke.text-center
				h1.text-white This is FRC Team 1991.
				p.text-white We are the dragons.
			.make-longer-pls
			.make-longer-pls
