extends _templates/base.jade

block head
	title FRC 4-H Team 1991
	link(rel = "stylesheet", href = "assets/css/index.css")

block body
	.jumbotron
		.container
			span.text-stroke.text-center
				h1.text-white This is FRC 4-H Team 1991
				p.text-white We are the dragons.
	.container-fluid
		.row
			.col-md-10.col-md-offset-1
				.row
					.col-md-12
						.panel.panel-default
							.panel-heading WPI District Event - Winning Match
							.panel-body.embed-responsive.embed-responsive-16by9
								iframe.embed-responsive-item(src = "https://www.youtube.com/embed/5m5D4KRgMyw", allowfullscreen)
				.row
					.col-md-12
						.panel.panel-default
							.panel-heading
								h3.panel-title About Us
							.panel-body
								p Team 1991, the Dragons, is a student run high school team which was founded in 2007 by a group of students, teachers and mentors who wanted to represent their school's engineering focus in a competitive environment.
								p Participation in the team gives students an opportunity to learn about engineering and technology through hands on experience. Since the team operates like a business, students acquire many professional skills, such as managing a budget, making presentations and planning our build season. As an extracurricular program, the team allows students to apply concepts learned in school as well as develop new skills thanks to various workshops taught by our mentors. In the past years, the students were able to take advantage of the SolidWorks, LabView, Welding and Electronics classes taught by our mentors.
								p Each year, the team participates in the F.I.R.S.T. Robotics Competition which F.I.R.S.T. calls as the "Varsity Sport for the Mind™". The teams are given only six weeks to design, construct and program a robot which will compete against other teams in regional and national events. This closely mimics the real life challenges engineers face when working on the projects.
								p The UHSSE 4-H Robotics Team is a project of the UConn 4-H Program.
				.row
					.col-sm-4
						.panel.panel-default
							.panel-heading
								h3.panel-title A 4-H Club
							.panel-body
								a(href = "http://4h.uconn.edu/", target = "_blank")
									img.img-responsive.club(src = "assets/imgs/sponsors/4-h.jpg")
					.col-sm-8
						.panel.panel-default
							.panel-heading
								h3.panel-title Our Top Sponsors
							.panel-body
								.panel-body
								mixin sponsor(name, small)
									- small = small || false
									- url = "assets/imgs/sponsors/" + name + ".jpg"
									img.img-responsive(src = url, class = small ? "sponsor-small-height" : "")
								.row
									.col-xs-4
										+sponsor("pw")
									.col-xs-4
										+sponsor("solidworks")
									.col-xs-4
										+sponsor("uhart", true)
							.panel-footer
								a(href = "sponsors") View All