extends _templates/base.jade

block head
	title Media | FRC 4-H Team 1991

block body
	.container-fluid
		.row
			.col-md-5.col-md-offset-1
				.panel.panel-primary
					.panel-heading
						h3.panel-title Social Media
					.panel-body
						p Check us out and follow us on our social Media.
						.list-group
							a.list-group-item(href = "https://www.instagram.com/frcteam1991/", target = "_blank") Our Instagram @frcteam1991
							a.list-group-item(href = "https://www.youtube.com/channel/UCPo0HSI_RKmutuLvsCoKSAg", target = "_blank") Our Youtube Account 
							a.list-group-item(href = "https://twitter.com/FRCteam1991", target = "_blank") Our Twitter Page @FRCteam1991
			.col-md-5
				.panel.panel-danger
					.panel-heading
						h3.panel-title Contacts
					.panel-body
						p Contact us here if you would like to get in touch.
						.list-group
							a.list-group-item(href = "#temp", target = "_blank") Email
