html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  color: #3c3c3c;
  text-rendering: optimizeLegibility;
}
body header {
  font-family: 'Fakt-Normal', Helvetica, Arial, '微軟正黑體', 'Microsoft JhengHei', '微软雅黑體', 'Microsoft YaHei';
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  clear: both;
  height: 70px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #fff;
}
@media (max-width: 1023px) {
  body header {
    height: 60px;
  }
}
body header .header-items {
  position: relative;
  width: auto;
  height: 70px;
}
@media (max-width: 1023px) {
  body header .header-items {
    height: 60px;
  }
}
body header .header-items:after {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 100%;
  content: '';
}
body header .logo-region {
  display: inline-block;
  float: left;
  min-width: 114px;
  height: 70px;
  vertical-align: top;
  outline: none;
  background-image: url('../images/logo.jpg');	/*logo url*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 1023px) {
  body header .logo-region {
    height: 60px;
  }
}
body header .nav-items {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  display: inline-block;
  float: left;
  height: 70px;
  margin-left: 60px;
  vertical-align: top;
  letter-spacing: 0.03em;
}
@media (max-width: 1023px) {
  body header .nav-items {
    display: none;
  }
}
body header .nav-items .nav-link {
  display: block;
  float: left;
  height: 66px;
  margin: 0 60px 0 0;
  padding: 0;
  transition: 0.2s;
  text-decoration: none;
  color:#000;
  border-bottom: 4px solid transparent;
  outline: none;
}
@media (max-width: 1500px) {
  body header .nav-items .nav-link {
    margin-right: 45px;
  }
}
@media (max-width: 1270px) {
  body header .nav-items .nav-link {
    margin-right: 30px;
  }
}
body header .nav-items .nav-link span {
  display: block;
  padding: 28px 0 0 0;
}
body header .nav-items .nav-link:hover,
body header .nav-items .nav-link.selected {
  transition: 0.2s;
  color: #000;
  border-color: #fb8c00;
}
body header .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 30px;
  height: 30px;
  margin: 28px 0 0 0;
  cursor: pointer;
}
@media (max-width: 1023px) {
  body header .hamburger {
    display: block;
    margin: 15px 0 0 0;
  }
}
body header .hamburger .dash {
  position: absolute;
  width: 30px;
  height: 2px;
  transition: 0.6s;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
body header .hamburger .dash.a {
  top: 6px;
}
body header .hamburger .dash.b {
  top: 14px;
}
body header .hamburger .dash.c {
  bottom: 6px;
}
body header .hamburger.open .dash {
  transition: 0.6s;
}
body header .hamburger.open .dash.a {
  top: 14px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body header .hamburger.open .dash.b {
  opacity: 0;
}
body header .hamburger.open .dash.c {
  bottom: 14px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body header .dropdown-menu-wrapper {
  position: absolute;
  top: -1000px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.6s;
}
@media (max-width: 1023px) {
  body header .dropdown-menu-wrapper {
    top: 60px;
  }
}
body header .dropdown-menu-wrapper .dropdown-menu {
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 25px 0 25px 0;
  background-color: rgba(236, 239, 241, 0.93);
}
@media (max-width: 767px) {
  body header .dropdown-menu-wrapper .dropdown-menu {
    font-size: 18px;
  }
}
body header .dropdown-menu-wrapper .dropdown-menu a {
  font-weight: 300;
  display: block;
  width: 100%;
  padding: 17px 0 17px 0;
  text-align: center;
  text-decoration: none;
  color: #000;
}
body header .dropdown-menu-wrapper.open {
  transition: 0.6s;
}
body header .dropdown-menu-wrapper.count1.open {
  height: 122px;
}
body header .dropdown-menu-wrapper.count2.open {
  height: 185px;
}
body header .dropdown-menu-wrapper.count3.open {
  height: 248px;
}
body header .dropdown-menu-wrapper.count4.open {
  height: 311px;
}
body header .dropdown-menu-wrapper.count5.open {
  height: 374px;
}
body header .dropdown-menu-wrapper.count6.open {
  height: 437px;
}
body header .dropdown-menu-wrapper.count7.open {
  height: 500px;
}
body header .dropdown-menu-wrapper.count8.open {
  height: 563px;
}
body header .dropdown-menu-wrapper.count9.open {
  height: 626px;
}
body .center-column {
  position: relative;
  width: 1280px;
  height: inherit;
  margin: 0 auto;
  zoom: 1;
}
body .center-column:before,
body .center-column:after {
  display: table;
  content: '';
}
body .center-column:after {
  clear: both;
}
@media (max-width: 1500px) {
  body .center-column {
    width: 1090px;
  }
}
@media (max-width: 1270px) {
  body .center-column {
    width: 954px;
  }
}
@media (max-width: 1023px) {
  body .center-column {
    width: 745px;
  }
}
@media (max-width: 767px) {
  body .center-column {
    width: auto;
    padding: 0 20px 0 20px;
  }
}
